<div class="lamp">
	<div class="hiddenform">
    <%= render "on_off", :lamp => @lamp %>
  </div>
  <%= render "colorloop", :lamp => @lamp %>
  <%= render "brightness", :lamp => @lamp %>
  <%= render "colorpicker", :lamp => @lamp %>
</div>
