<footer>
  <div class="row">
    <div class="large-12 columns">
      <ul class="namelist">
        <li>Built by:</li>
        <li><a href="https://github.com/ChaeOkay">Chae O'Keefe</a></li>
        <li><a href="https://github.com/jimwong1023">Jimmy Wong</a></li>
        <li><a href="https://github.com/RainMonster">Rhonda Jezek</a></li>
        <li><a href="https://github.com/sbswigart">Steven Swigart</a></li>
      </ul>
    </div>
  </div>
</footer>
