<div class="splash-text">
  <div class="splash-body">
    Access your <a href="https://www.meethue.com/en-US">Philips Hue</a> LED light bulbs from anywhere in the world.
  </div>
  <div class="splash-body">
    Change the lighting conditions in your home using our web application.
  </div>
  <div class="splash-body">
    Signup to install a custom daemon on your local network, which runs on a <a href="http://www.raspberrypi.org/">Raspberry Pi</a>.*
  </div>
  <div class="splash-img-container">
    <img class="splash-img" alt="Pi and Bridge" src='/images/litsm.jpg'>
  </div>
  <div class="splash-ast">
    * Or whatever Unix-y system you prefer.
  </div>
</div>
