<ul data-orbit>
  <li data-caption="#captionOne">
    <%= render "splash" %>
    <div class="orbit-caption"></div>
  </li>
  <li data-caption="#captionTwo">
    <img src='/images/2_connectBridge.png'>
    <div class="orbit-caption">Activate and connect your bridge in two simple steps.</div>
  </li>
  <li data-caption="#captionThree">
    <img src='/images/3_connectLamps.png'>
    <div class="orbit-caption">Locate all your lamps and connect them with the Huemorme application.</div>
  </li>
  <li data-caption="#captionFour">
    <img src='/images/4_dlApp.png'>
    <div class="orbit-caption">Download and run our easy to use Daemon application specifically customized for your home setup.</div>
  </li>
  <li data-caption="#captionFive">
    <img src='/images/5_lampOverview.png'>
    <div class="orbit-caption">The lamps dashboard page where you can select the specific lamp you'd like to adjust.</div>
  </li>
  <li data-caption="#captionSix">
    <img src='/images/6_lampAdjust.png'>
    <div class="orbit-caption">Turn on and change the brightness, color, saturation of your lamp on the control page.</div>
  </li>
  <li data-caption="#captionSeven">
    <img src='/images/7_lampAdjusted.png'>
    <div class="orbit-caption">The control page will immediately reflect the state of the lamp upon change.</div>
  </li>
</ul>
