<div class="background">
  <div class="row">

    <div class="large-3 columns">
      <div class="form-background">
        <div class="form-offset">
          <%= render '/layouts/login_form' %>
          <h1 class="font-white">Sign Up</h1>
          <%= render "new_form" %>
        </div>
      </div>
    </div>

    <div class="large-9 columns show-for-medium-up">
      <div class="tour-background">
        <div class="tagline">
          <%= render "tour" %>
        </div>
      </div>
    </div>


  </div>
</div>

<%= render "footer" %>
