<div class="background">

  <div class="row">
    <div class="large-6 columns left">
      <div class="font-white tagline">
        HuemorMe is a web application designed to control your home's Philips Hue LED light bulbs from anywhere in the world.
        </br></br></br>
        Monitor your light-bridge with the HuemorMe Deamon program. Run it on your Raspberry Pi, or virtually any other home computer.
      </div>
    </div>

      <div class="form-background">
        <div class="form-offset">
          <%= render '/layouts/login_form' %>
          <h1 class="font-white">Sign Up</h1>
          <%= render "new_form" %>
        </div>
      </div>
    </div>

</div>
