<h1>Lamps</h1>

<%= flash[:notice] %>
<ul>
  <% @lamps.each do |lamp| %>
  <li>
    <div>
      <div>Lamp <%= lamp.id %></div>
      <div>
        <%= render "/lamps/lampform", :lamp => lamp %>
      </div>
    </div>
  </li>

  <% end %>
</ul>
