<%= flash[:notice] %>

<h1>Lamps</h1>
<ul data-orbit data-options="timer_speed:0; animation_speed:0; timer:false">
  <% @lamps.each do |lamp| %>
  <li>
    <div class="lamplist">
      <div>Lamp <%= lamp.id %></div>
      <div>
        <%= render "/lamps/lampform", :lamp => lamp %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
