<% if flash[:lamp] %>
  <% flash[:lamp].each do |notice| %>
    <p class="error"><%= notice %></p>
  <% end %>
<% end %>

<h1>Lamps</h1>
<ul data-orbit data-options="timer_speed:0; animation_speed:0; timer:false">
  <% @lamps.each do |lamp| %>
  <li>
    <div class="lamplist">
      <div><%=link_to "Lamp #{lamp.light_identifier}", bridge_lamp_path(lamp.bridge, lamp) %></div>
    </div>
  </li>
  <% end %>
</ul>
