<ul data-orbit>
	<li data-caption="#captionOne">
	  <img src='/images/1_signin.png'>
	  <div class="orbit-caption"></div>
	</li>
	<li data-caption="#captionTwo">
	  <img src='/images/2_connectBridge.png'>
	  <div class="orbit-caption"></div>
	</li>
	<li data-caption="#captionThree">
	  <img src='/images/3_connectLamps.png'>
	  <div class="orbit-caption"></div>
	</li>
	<li data-caption="#captionFour">
	  <img src='/images/4_dlApp.png'>
	  <div class="orbit-caption"></div>
	</li>
	<li data-caption="#captionFive">
	  <img src='/images/5_lampOverview.png'>
	  <div class="orbit-caption"></div>
	</li>
	<li data-caption="#captionSix">
	  <img src='/images/6_lampAdjust.png'>
	  <div class="orbit-caption"></div>
	</li>
	<li data-caption="#captionSeven">
	  <img src='/images/7_lampAdjusted.png'>
	  <div class="orbit-caption"></div>
	</li>
</ul>
