<div class="row">
	<div class="large-10 large-centered columns text-center">
		<h3>We've found your bridge!</h3>

		<%= flash[:notice] %>

		<!-- scanning for lamps -->


		<p><button type="button" class="button">Click here to find your lamps:</button></p>

		<%= button_to "Add Lamps", {:controller => :lamps,
		    :action => 'create', :bridge_id => @bridge.id }, :method => 'post', id: "addLamps", data: {ip: "#{current_user.bridge.ip}"}, class: "button" %>
	</div>
</div>
