*, h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}


img {
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  position: relative;
}

/* Navbar */

.header-bkgnd {
  background-color: black;
}

#logout_btn {
  color: rgb(185, 185, 185);
  font-size: 9px;
}

/* Footer */

footer {
  background: black;
  padding: 20px 0 0 0;
}

.namelist li {
  display: inline-block;
  padding: 0 8px 0 8px;
  color: rgb(150, 150, 150);
}

/* Splash page */

.splash-text {
  padding: 20px 80px 30px 80px;
  background-color: rgba(150, 150, 150, .05);
}

.splash-body {
  padding-bottom: 5px;
}


.splash-ast {
  padding-top: 5px;
  clear: left;
}

.splash-img-container {
  padding-top: 30px;
}

.splash-img {
  float: left;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 12px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, .5);
}

.tagline{
  padding: 100px 20px 50px 10px;
  font-size: 1.25em;
}

.font-white {
  color: white;
}

.form-background {
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 20px;
  padding: 60px;
  margin-left: 50px;
  float: right;
}

.tour-background {
  background-color: rgba(0, 0, 0, .4);
  border-radius: 20px;
}

/* root page */

.background {
  background: url('/images/backgroundblur.jpg') no-repeat fixed center;
}

.hiddenform {
  display: none;
}

.imageblock {
  width: 100%
}

.nametitle{
  display: inline-block;
  padding-left: 18px;
}

#link_to_lamps {
  margin: 10px 18px;
  float: right;
}

#link_to_lamps a {
 text-decoration: none;
 color: black;
}

.lamptitle {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 3.5em;
}
.orbit-slide-number {
  display: none;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.lamplist {
  clear: right;
  width: 100%;
  background: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.lamplist img {
  display: block;
}

.lampform {
  position: relative;
  width: 75%;
  margin: auto;
}

.farbtastic {
  margin: 0 auto;
}

#lamp-orbit {
  display: none;
}

#tour-orbit {
  display: none;
}
