*, h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.nametitle{
  padding-left: 18px;
}

.lamplist {
  width: 100%;
}

.lamptitle{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 3.5em;
}

.orbit-slide-number {
  display: none;
}
