<div class="contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1><%= link_to "HueMore Me", root_path %></h1>
			</li>
		</ul>
		<ul class="toggle-topbar">
			<li class="divider">
				<% if logged_in? %>
					<%= link_to "logout", signout_path, method: "delete", id: "logout_btn" %>
				<% end %>
			</li>
		</ul>
	</nav>
</div>

